@model SCCBakery.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TheOrder.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheOrder.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheProduct.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheProduct.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
