@model IEnumerable<SCCBakery.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h2>Orders Management</h2>

<p>
    @Html.ActionLink("Create New", "Create", "InvoiceManagement" )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TheOrder.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheProduct.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TheOrder.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheProduct.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "InvoiceManagement", new { id = item.InvoiceID }, null) |
                @Html.ActionLink("Details", "Details", "InvoiceManagement", new { id = item.InvoiceID }, null) |
                @Html.ActionLink("Delete", "Delete", "InvoiceManagement", new { id = item.InvoiceID }, null)
            </td>
        </tr>
    }

</table>
